<link rel="stylesheet" href="styles.css">
<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div id="desafio">
	<div class="container">
		<div class="jogadores">
			<div class="jogador">
				<h3>Jogador</h3>
				<div class="vida" :style="{'width': vidaJogador+'%'}" :class="{morrendo: vidaJogador < 30, reset: vidaJogador <= 0}"> {{ vidaJogador <= 0 ? 'Faleceu' : vidaJogador+'%' }}  </div>
			</div>
			<div class="jogador">
				<h3>Monstro</h3>
				<div class="vida" :class="{morrendo: vidaMonstro < 30}" :style="{'width': vidaMonstro+'%'}">  {{ vidaMonstro }}% </div>
			</div>
		</div>
		<div class="ataques">
			<button class="btn green" @click="ataque()">Ataque</button>
			<button class="btn warning" @click="ataqueEspecial()">Ataque especial</button>
			<button class="btn green" @click="cura()">Cura</button>
			<button class="btn grey" @click="desistir()">Desistir</button>
		</div>
		<div class="log" v-if="logs.length">
			<div class="row" v-for="log in logs">
				<div class="col-md-6">
					{{ log.textJogador }}
				</div>
				<div class="col-md-6">
					{{ log.textMonstro }}
				</div>
			</div>
		</div>
	</div>
</div>

<script src="app.js"></script>